<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Robot Repair | Music & Sound</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
        <link rel="icon" href="/favicon.ico?v=2">

        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="//use.typekit.net/oqf3pmp.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
       <header>
            <div class="topnav">  
                <h1 class="name">
                    <a href="/">Robot Repair</a><span class="title">Best Tracks</span>
                </h1>
                <div id="trigger-overlay">
                    <i class="hamburger"></i>
                </div><!-- menu-button-->       
            </div>
        </header>

        <section id="music" class="full-width">
            <div class="row">
                <div class="track">
                    <div class="track-color" style="background-color:#f22877">
                    </div>
                    <div id="jplayer-audio-1" class="jp-jplayer"></div>

                    <div id="jp-container-audio-1" class="jp-flat-audio" role="application" aria-label="media player">
                        <div class="jp-play-control jp-control">
                            <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
                        </div>
                        <div class="jp-bar">
                            <div class="jp-seek-bar jp-seek-bar-display"></div>
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                                <div class="jp-details">
                                    <span class="jp-title" aria-label="title"></span>
                                </div>
                            </div>

                        </div>
                        <div class="jp-play-control jp-control-right">
                            <button class="jp-download" role="button" aria-label="download" tabindex="0"></button>
                        </div>
                        <div class="jp-no-solution">
                            Media Player Error<br />
                            Update your browser or Flash plugin
                        </div>
                    </div>
                </div>

                <div class="track" style="background-color:#f232b7">
                   
                </div>
                <div class="track" style="background-color:#f2276a">
                   
                </div>
                <div class="track"style="background-color:#f1490b">
                   
                </div>
                <div class="track" style="background-color:#fe5c20">
                   
                </div>
             </div>
             <div class="row">
                <div class="track" style="background-color:#ff8520">
                   
                </div>
           
                <div class="track" style="background-color:#f232b7">
                   
                </div>
                <div class="track" style="background-color:#f2276a">
                   
                </div>
                <div class="track"style="background-color:#f1490b">
                   
                </div>
                <div class="track" style="background-color:#fe5c20">
                   
                </div>
             </div>
             <div class="row">
                <div class="track" style="background-color:#ff8520">
                   
                </div>
                <div class="track" style="background-color:#f22877">
                   
                </div>
        
                <div class="track" style="background-color:#f2276a">
                   
                </div>
                <div class="track"style="background-color:#f1490b">
                   
                </div>
                <div class="track" style="background-color:#fe5c20">
                   
                </div>
             </div>
             <div class="row">
                <div class="track" style="background-color:#ff8520">
                   
                </div>
                <div class="track" style="background-color:#f22877">
                   
                </div>
                <div class="track" style="background-color:#f232b7">
                   
                </div>
            
                <div class="track" style="background-color:#f2276a">
                   
                </div>
                <div class="track"style="background-color:#f1490b">
                   
                </div>
             </div>
             <div class="row">

                <div class="track" style="background-color:#fe5c20">
                   
                </div>
                 <div class="track" style="background-color:#f232b7">
                   
                </div>
                <div class="track" style="background-color:#ff8520">
                   
                </div>
                <div class="track" style="background-color:#f22877">
                   
                </div>
                 <div class="track" style="background-color:#f22877">
                   
                </div>
            </div>
        </section>

        <div id="brand-platform" role="navigation" class="overlay">

              <div class="inner">
                <nav>
                   <ul id="menu-main-nav" class="nav">         
                        <li class="nav-main-item"><a href="work.html">Work</a></li>
                        <li class="nav-main-item"><a href="music.html">Best Tracks</a></li>
                        <li class="nav-main-item"><a href="info.html">Info</a></li>
                        <li class="nav-main-item"><a href="#">Blog</a></li>
                        <li class="nav-main-item"><a href="friends.html">Collaborators</a></li>
                    </ul>
                </nav>

                <div class="logo-wrap">
                    <div class="logo-inner">
                    <a href="/"><img src="img/robot-repair.png"/></a>
                    <p class="tagline"><em>music + sound</em></p>
                  </div>
                </div>
            </div>
        </div><!-- /.overlay nav -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="main.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
