<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Robot Repair | Music & Sound</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
        <link rel="icon" href="/favicon.ico?v=2">

        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="//use.typekit.net/oqf3pmp.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->       
        <!-- header -->
        <header>
            <div class="topnav">  
                <h1 class="name">
                    <a href="/">Robot Repair</a><span class="title">Work</span>
                </h1>
                <div id="trigger-overlay">
                    <i class="hamburger"></i>
                </div><!-- menu-button-->       
            </div>
            <div class="subnav">
                <ul>
                    <li><a href="#">Recent</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Sound Design</a></li>
                </ul>
            </div>
        </header>

        <!-- Main section -->
        <section id="feed" class="wrap">

        </section>

         <section id="inline">
            <div class="videoSlider" id="popup">

            </div>
        </section>
        <!-- overlay nav -->
        <div id="brand-platform" role="navigation" class="overlay">

                  <div class="inner">
                    <nav>
                       <ul id="menu-main-nav" class="nav">         
                            <li class="nav-main-item"><a href="work.html">Work</a></li>
                            <li class="nav-main-item"><a href="music.html">Best Tracks</a></li>
                            <li class="nav-main-item"><a href="info.html">Info</a></li>
                            <li class="nav-main-item"><a href="#">Blog</a></li>
                            <li class="nav-main-item"><a href="friends.html">Collaborators</a></li>
                        </ul>
                    </nav>

                    <div class="logo-wrap">
                        <div class="logo-inner">
                        <a href="/"><img src="img/robot-repair.png"/></a>
                        <p class="tagline"><em>music + sound</em></p>
                      </div>
                    </div>
                </div>
        </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
      <script src="archive.min.js"></script>
  </body>
</html>