{% extends "base.twig" %}

{% block content %}
	<section id="error" class="wrap">
		<div class="row">
	        <article class="page-content">
				<h4 class="gutted">404</h4>
			</article>
		</div>
	</section>
{% endblock %}