{% extends "base.twig" %}

{% block content %}
	<section id="error" class="wrap">
		<div class="row">
	        <article class="page-content">
				<h1 class="gutted">404</h4>
				<p class="gutted">Sorry, we couldn't find what you're looking for.</p>
		

		
			</article>
		</div>
	</section>
{% endblock %}