{% extends "base.twig" %}

{% block content %}
	<section class="wrap">
			<div class="row">
				<div class="article-content">
					<div class="embed-container">
						{{post.get_field('vimeo_url')}}
					</div>
					<div class="video-caption">
						{{post.content}}
					</div>
				</div>
			</div>
	</section><!-- /.wrap -->
{% endblock %}
