/*
 * flat audio Skin for jPlayer
 */
 .jp-audio *:focus,
 .jp-audio-stream *:focus,
 .jp-video *:focus {
	 /* Disable the browser focus highlighting. */
	 outline: none; }

 .jp-audio button::-moz-focus-inner,
 .jp-audio-stream button::-moz-focus-inner,
 .jp-video button::-moz-focus-inner {
	 /* Disable the browser CSS3 focus highlighting. */
	 border: 0; }

 a:focus {
	 outline: none;
	 border: 0;
}
.jp-flat-audio {
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	max-width:1280px;
	width: 100%;
	height: 30px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #ffffff;
	@include media($smallscreen) {
		height: 40px
	}
}

.jp-flat-audio,
.jp-flat-audio * {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 0;
	line-height: 0;
}

.jp-flat-audio.collab {
	width:30px;
	float:left;
	margin-right:10px;
	margin-bottom:10px
}
.jp-flat-audio.collab .jp-button {
	border: 1px solid #FFF;
}
.jp-flat-audio.collab.jp-state-playing .jp-button{
	border-color:#FF8520
}

.jp-flat-audio *:focus {
	outline:none;
}
.jp-flat-audio button::-moz-focus-inner {
	border: 0;
}

.jp-flat-audio .jp-control {
	position: absolute;
	top: 0;
	width: 30px;
	height: 100%;
	background-color: $colored;
	left:0;
	@include media($smallscreen) {
		width: 40px
	}
}

.jp-flat-audio .jp-control-right {
	position: absolute;
	top: 0;
	width: 30px;
	height: 100%;
	right:0;
	@include media($smallscreen) {
		width: 40px
	}
}

/* Icons Buttons */

.jp-button {
	display:block;
	text-decoration: none;
	width: 30px;
	height: 100%;
	font-size: 20px;
	line-height:30px;
	text-align: center;
	background: none;
	cursor: pointer;
	color: #ffffff;
	float:left;
	outline:0;
	border:none;
	-webkit-appearance: none;
	margin:0;
	padding: 0;
	@include media($smallscreen) {
		line-height:40px;
		width:40px
	}
}

.jp-button:before {
	display: block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: none;
	speak: none;
	width: 30px;
	line-height: 30px;
	text-align: center;
	opacity: 1.0;
	font-size: 13px;
	vertical-align: middle;
	@include media($smallscreen) {
		width: 40px;
		line-height: 40px;
	}
}

.collab .jp-flat-audio .jp-button:before,
.collab .jp-flat-audio .jp-button {
	@include media($smallscreen) {
		width: 30px;
		line-height:30px;
	}
}
.gui {
	.jp-control {
		width:auto;
		background:transparent;
		position: relative;
		.jp-button {
			float:left;
			color:#232323;
			&:hover {
				color:$colored;
			}
			&:before {
				font-size: 1em;
			}
		}
	}
}
.jp-flat-audio.jp-state-playing .jp-play:before {
	content: '\f04c';
}
.jp-flat-audio.collab.jp-state-playing .jp-play:before{
	color:#FF8520
}

.jp-play:before {
	content: '\f04b';
}
.jp-download:before {
	content: "\f0d7";
	font-size: 16px;
}
.jp-next:before {
	content: '\f051';
}
.jp-pause:before {
	content: '\f04c';
}
.jp-shuffle{
	padding:1px 0 0 5px;
	&:before {
		content: '\f074';
		font-size: 15px!important;
	}
}
.jp-download.jp-button {
	float:right;
	background-color: #3c6072;
	&:hover {
		background-color: #ff8c20;
	}
}

/* SEEKING BAR */
.jp-flat-audio .jp-bar {
	position: absolute;
	top: 0;
	left: 0px;
	right: 30px;
	height: 100%;
	background-color: $colored;
	@include media($smallscreen) {
		right: 40px;
	}
}
.jp-flat-audio .jp-seek-bar.jp-seek-bar-display {
	min-width: 0;
	background-color: $colored;
}
.jp-flat-audio .jp-seek-bar {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 30px;
	cursor: pointer;
	@include media($smallscreen) {
		height:40px
	}
}

.jp-flat-audio .jp-play-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	z-index:0;
	background-color: #ff8c20;
}

/* TITLE */
.jp-free-media {
	display: none!important
}
.jp-flat-audio .jp-details,
.jp-flat-audio .jp-timing {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	padding: 0;
	font-size: 12px;
	line-height: 30px;
	@include media($smallscreen) {
		line-height:40px
	}
}
.jp-flat-audio .jp-timing {
	text-align: right;
}
.jp-flat-audio .jp-title,
.jp-flat-audio .jp-duration,
.jp-flat-audio .jp-current-time {
	font-size: 14px;
	line-height: 30px;
	text-transform:uppercase;
	padding-left:6px;
	@include media($smallscreen) {
		font-size: 16px;
	}
}

.jp-flat-audio .jp-no-solution {
	position: absolute;
	top: 0;
	left: 64px;
	right: 0;
	height: 48px; /* 64px - 8px - 8px = 48px */
	padding: 8px 0;

	line-height: 24px;
	font-size: 16px;
	text-align: center;
	display: none;
	color: #000000;
	background-color: #b28282;
}
