$colored:#008cb4;
$font-stack: 'nudista-web',sans-serif;

$body-line-height: golden-ratio(1em, 1) !default;
$body-font-size: 1em !default;


$max-width: em(940) !global;
$smallscreen: new-breakpoint(max-width 900px 4);
$mobile: new-breakpoint(max-width 480px 1);

$grid-columns: 15 !global;

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}

/* TYPOS
-------------------------------------------------- */

body, html {
  font: $body-font-size $font-stack;
  -webkit-font-smoothing: antialiased;
  line-height: $body-line-height
}

h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: $font-stack;
  font-style:normal;
}

h1.name {
  font-family:$font-stack;
  text-transform: uppercase;
  font-weight: 300;
  font-size: em(26);
  letter-spacing: 0.01em;
}
h2 {
  font-size: em(24);
  font-weight: 700;
}
h3 {
  font-size: em(20);
  font-weight: 600;
}
h4 {
  font-size: em(18);
  font-weight: 600
}
h5 {
  font-size: em(16);
  font-weight: 400;
}
h6 {
  font-size: em(14);
  font-weight: 400
}
p {
  font-family: $font-stack;
  font-size: 1.2em;
  line-height: 1.2;
  margin-bottom: 5px;
  font-weight: 300;
}
a.download-all {
  font-family: $font-stack;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 400
}
a {
  text-decoration: none;
  color:#232323;
  font-weight: 400
}
a:hover {
  color:$colored;
}
/* FONT-FACES 
-------------------------------------------------- */

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
      url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), 
      url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), 
      url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), 
      url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}