$colored:#008cb4;
$font-brand: 'refrigerator-deluxe',sans-serif;
$font-stack: 'brandon-grotesque',sans-serif;

$body-line-height: golden-ratio(1em, 1) !default;
$body-font-size: 1em !default;


$max-width: em(940) !global;
$smallscreen: new-breakpoint(max-width 900px 4);
$mobile: new-breakpoint(max-width 480px 1);

$grid-columns: 15 !global;

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}

/* TYPOS
-------------------------------------------------- */

body, html {
  font: $body-font-size $font-stack;
  -webkit-font-smoothing: antialiased;
  line-height: $body-line-height
}

h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: $font-stack;
  font-style:normal;
}

p {
  font-family: $font-brand;
  font-size: 1.2em;
  letter-spacing: 0.025em;
  line-height: 1.2;
}

h1.name {
  font-family: $font-brand;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700
}

a {
  text-decoration: none;
  color:#232323;
}
/* FONT-FACES 
-------------------------------------------------- */
@font-face {
  font-family: 'Federation Starfleet Hull 23rd';
  src: url('fonts/Federation_Starfleet_Hull_23rd.eot'); /* IE9 Compat Modes */
  src: url('fonts/Federation_Starfleet_Hull_23rd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Federation_Starfleet_Hull_23rd.woff') format('woff'), /* Modern Browsers */
       url('fonts/Federation_Starfleet_Hull_23rd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Federation_Starfleet_Hull_23rd.svg#a26ac8ea98e8ac64566dc4e487879b01') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  300;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
      url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), 
      url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), 
      url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), 
      url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}