/* overlay button */
$max-width: em(940) !global;

#trigger-overlay {
	float:right;
	top: 0;
	width: 24px;
	height: 24px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	@include transition(all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1));
}

#trigger-overlay i{
	display:block;
	width: 24px;
	height: 2px;
	margin: 12px 0;
	background: #232323;
	@include transition(all 0.3s ease-out);
}

#trigger-overlay i:before,
#trigger-overlay i:after {
	content: '';
	display: block;
	width: 24px;
	height: 2px;
	background: #232323;
	position: absolute;
	z-index: -1;
	@include transition(all 0.3s ease-out);
}

#trigger-overlay i:before{
  margin-top: -7px;
}
#trigger-overlay i:after{
  margin-top: 7px;
}

// #trigger-overlay.clicked i {
// 	background: none !important;
// }
// #trigger-overlay.clicked i:before{
// 	background:#fff!important;
// 	@include transform(rotate(-45deg));
// 	margin-top: 0px;
// }
// #trigger-overlay.clicked i:after{
// 	background:#fff!important;
// 	@include transform(rotate(45deg));
// 	margin-top: 0px;
// }
// #trigger-overlay.white.clicked i{
// 	background: none !important;
// }

#trigger-overlay.white i,
#trigger-overlay.white i:before,
#trigger-overlay.white i:after{
	background:#fff!important
}

/* OVERLAY NAV */
.nav > li.active > a {
	color:#fff;
	border: none
} 	
/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,140,180,0.9);
	z-index: 12;
	opacity:0;
	visibility: hidden;
	@include transition(opacity 0.5s,  visibility 0s 0.5s);
}

/* Menu style */
.overlay nav {
	text-align: left;
	position: relative;
	z-index: 9999;
	top: 50%;
	height: 66%;
	@include transform(translateY(-50%));
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 36px;
}

.overlay ul li a {
	display: inline-block;
	color: #fff;
	padding: 0 2px 8px;
	font-size:em(54px);
	text-transform:uppercase;
	letter-spacing:em(1);
	font-weight:400;
	margin: 0;
	font-family: $font-stack;
	@include transition(color 0.2s);
	@include media($mobile) {
		font-size:em(20px);
	}
}
.overlay nav h1 {
	text-transform:none;
	margin-top:0
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	@include transition(all, 0.2s, ease-out);
	color: black;
	background: transparent;
	border:none
}
/* Effects */
.overlay.open{
	opacity:1;
	visibility: visible;
	@include transition(opacity 0.5s)
}

.overlay .inner {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay nav ul {
	opacity:0.4;
	@include transform(translateY(-25%) rotateX(35deg));
	@include transition(transform 0.5s, opacity 0.5s);
}

.overlay.open nav ul {
	opacity:1;
	@include transform(rotateX(0deg));
}

.overlay.close nav ul {
	@include transform(translateY(25%) rotateX(-35deg));
}

